div.Homeall{
     background-size:cover;
     background-position: center; 
}
.homeh1{/*h1*/
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color:#4f6e6e ;
     letter-spacing: 5px;
     font-size: xx-large;
     margin-left: 600px;
}
.homeh3{/*h3*/
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color:#4f6e6e  ;
     letter-spacing: 3px;
     font-size:xx-large;
     margin-left: 800px;
     margin-top: 50px;
     /* background-color: transparent; */
}
